<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs6">
            <a class="layui-btn" data-type="tabAdd" href="/banner/add">新增</a>
        </div>
    </div>

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<script>

    layui.use(['table', 'form', 'element'], function () {
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#table_list'
            , url: '/banner/table'
            , cols: [[
               {field: 'path', title: 'banner',templet:function(data){
                     return "<img src="+data.path+" >";
                    }}
                , {field: 'status', title: '状态',templet:function(data){
                    if(data.status == 5) return "隐藏";
                    return "正常";
                }}
                , {fixed: 'right', width: 160, title: "操作", align: 'center', toolbar: '#bar'}
            ]]
            , id: 'listReload'
            , page: true
            , height: "full-130"
        });

        var $ = layui.$, active = {
            reload: function () {
                table.reload('listReload', {
                    where: {
                        name: $('#title').val(),
                    }
                });
            }
        };

        //监听工具条
        table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                window.location.href = "/banner/edit?id=" + data.id

            } else if (obj.event === 'del') {
                layer.alert("确定删除吗？", function () {
                    $.post("/banner/delete", {"id": data.id}, function (res) {
                        if (parseInt(res.status) === 0) {
                            table.reload('listReload', {
                                where: {
                                    title: $('#title').val(),
                                }
                            });
                            layer.closeAll();
                        }
                    });
                });
            } else {
                layer.msg('操作不存在');
            }
        });

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>